<div>
    <label for="{{id}}">{{title}}</label>
    <input 
        type="checkbox" 
        name="{{name}}" 
        id="{{id}}" 
        value="{{value}}"
        {{#if checked}}
            checked="true"
        {{/if}}
    >
</div>