<div 
    class="flex {{ containerClasses }}"
    {{ data }}
    data-option="true"
    data-unique-id={{ uniqueId }}
    selected="false"
>
    <div class="{{ iconClasses }}"
        {{ iconData }}
        data-option-icon="true"
        data-unique-id={{ uniqueId }}
    >
        {{> components/icon icon="arrow-r" }}
    </div>
    <div class="flex items-center justify-center">
        {{ title }}
    </div>
</div>