<div 
    class="flex {{ containerClasses }}"
    {{ data }}
    data-option="true"
    selected="false"
    data-name="{{ name }}"
    data-value="{{ value }}"
>
    <div class="{{ iconClasses }}"
        {{ iconData }}
        data-option-icon="true"
    >
        {{> components/icon icon="arrow-r" }}
    </div>
    <div class="flex items-center justify-center">
        {{ title }}
    </div>
</div>